* {
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   color:black;
   background-color: rgb(249, 219, 189);
  
}

.header{
    display: block;
    margin:10px;
    border-color:aliceblue;
    border-style:outset;
    border-width: 2px;
}

.header-h1 {
    display: block;
    text-align: center;
    padding: 0px;
    height: 40px;
    background-color: #6BA292;
    margin: 0px;
}

.header-h2 {
    display: block;
    height: 30px;
    padding: 0px;
    margin: 0px;
    background-color: #87afa4;
}

.header-p{
    margin: 0;
    padding: 0px;
    background-color: #87afa4;
}

div.body-mainpage {
    display: grid;
    grid-template-columns: 34% 64%;
    gap: 2%;
    margin: 10px;
}

.forms {
    display: inline;
    grid-template-rows: 50% 50%;
    row-gap: 10px;

    border-color:aliceblue;
    border-style:outset;
    border-width: 2px;
}


h3.titles-forms {
    text-align: center;
    display: block;
    width:inherit;
    height: 50px;
    margin: auto;
    background-color: #9593D9;
}

.text-forms {
    display: block;
    text-align: justify;
    width: inherit;
    height: auto;
    margin: 5px;
}

.form-add {
    display: grid;
    grid-template-columns:  35% 60%;
    grid-template-rows: 25px 25px 25px; 
    gap: 5px;
}

.add {
    width:inherit;
    height: auto;
    text-align: right;
}

.form-delete {
    display: grid;
    row-gap: 5px;
    gap: 5px;
    grid-template-columns: 32% 32% 30%;
    grid-template-rows: 25px 50px;
    margin: 5px 5px 0px 5px;
}

select.delete {
    width: auto;
    height: auto;
    grid-column: 1/-1;
    background-color: aliceblue;
}

.form-activities {
    display: grid;
    grid-template-columns: 22% 25% 22% 25%;
    grid-template-rows: 25px 25px 25px 75px;
    gap: 5px;

}

.activities {
    width:auto;
    height: auto;
    text-align: right;
}

input.button {
    width: 100px;
    height: auto;
    margin: 5px;
    background-color: aliceblue;
}

#description {
    width: auto;
    height: auto;
    grid-column: 2/-1;
}

#subactivities{
    width: auto;
    height: auto;
    grid-column:  2/-1;
}

.table {
    border-style:outset;
    border-width: 2px;
    width: 100%;
    border-collapse: collapse;
  
}
td, th{
    border-color: black;
    border-width: 1px;
    border-style:ridge;
}

.days {
    display:inline;
    width:100%; 
    min-width: 100%;
    max-width: 100%;
}

.months {
    display: inline-block;
    text-align:center;  
}

.table-buttons{
    background-color: #FCA17D ;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    width:100%;
    min-width: 100%;
    justify-content: center;
    align-content: center;
}
.months{
    background-color: #FCA17D ;
}
input.add{
    background-color: aliceblue;
}

input.activities{
    background-color: aliceblue;
}

select.activities{
    background-color: aliceblue;
}

.footer{
    background-color: #87afa4;

}
div.table{
    width: 100%;
    background-color: azure;
    overflow-x:auto;
}

.names-table{
    width: 33%;
    min-width: 33%;
    max-width: 33%;
    text-align: left;
    height:fit-content;
}

#names-table{
    width: 33%;
    min-width: 33%;
    max-width: 33%;
    text-align: left;
    height:fit-content;
}

.days-numbers {
    text-align: center;
    writing-mode: vertical-lr;
    text-orientation:mixed;
    font-size: smaller ;
    width: 25px;
    height: 18px;
    min-width: 18px;
    max-width: 25px;
    
}

#activitieslist {
    display: block;
    width: auto;
    height: 50px;
    grid-column: 1/-1;
    background-color: aliceblue;
    text-align: left;
    text-justify: distribute;
}

.activitiesdelete{
    display: grid;
    grid-template-columns: 22% 25% 22% 25%;
    gap: 5px;
    grid-template-rows: 25px, 50px;
    margin: 5px;
}